/* #FCF1C7 #B4A15A #451C7F #5F4179 */
html {
    scroll-behavior: smooth;
}  
* {
    h1 {
        font-family: "Chivo", serif;
        font-weight: 600;
        font-style: normal;
    }
    h2 {
        font-family: "Chivo", serif;
        font-weight: 500;
        font-style: normal;
    }
    p, button {
        font-family: "Roboto", serif;
        font-weight: 400;
        font-style: normal;
    }
    P {
        font-size: 1.1rem;
    }
}
body {
    display: flex;
    margin: 0;
}
header {
    padding: 1rem;
    position: sticky;
    top: 0;
    height: 100vh;
    width: 45%;
    background-color: #fffbeb;
    padding: 1rem;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    a {
        text-decoration: none;
    }
    li {
        text-decoration: none;
        list-style: none;
    }
    h5 {
        text-decoration: underline;
        opacity: 0.8;
    }
}
main {
    flex-grow: 1;
    padding: 1rem;
    background-color: #fffcee;
}
footer {
    background-color: #f1f1f1;
    padding: 1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: -1rem;
    box-sizing: border-box;
    text-align: center;
}
.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 1rem;
} 
.left-lean,
.right-lean {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 65%;
    width: 100%;
    h2 { 
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    p {
        margin: 0.5rem 0;
    }
}
.left-lean {
    flex-direction: row;
    text-align: left;
}
.right-lean {
    flex-direction: row-reverse;
    text-align: left;
}
.left-lean-content,
.right-lean-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
picture img {
    width: 300px;
    height: auto;
    object-fit: cover;
    border: 5px solid #5F4179;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
    margin: auto;
}
.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}
.nav, .socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
    padding: 0;
}
#logo {
    width: 200px;
    height: auto;
    border: 5px solid #451C7F; 
    border-radius: 50%;
}
  
  